#page-map {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#page-map aside {
    width: 440px;
    background: linear-gradient(330deg, #2b2663 0%, #34327f 100%);
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-map aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}

#page-map aside p {
    line-height: 28px;
    margin-top: 24px;
}

#page-map aside footer {
    display: flex;
    flex-direction: column;

    line-height: 24px;
}

#page-map aside footer strong {
    font-weight: 800;
}

#page-map .leaflet-container {
    z-index: 5;
}

#page-map .create-orphanage,
#page-map .back-to-home {
    position: absolute;

    z-index: 10;
    
    width: 64px;
    height: 64px;

    background: #2b2663;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

#page-map .create-orphanage {
    right: 48px;
    bottom: 48px;
}

#page-map .back-to-home {
    right: 48px;
    top: 48px;
}

#page-map .create-orphanage:hover,
#page-map .back-to-home:hover {
    background: #34327f;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
    background: rgba(255,255,255,0.8);
    border-radius: 20px;
}

#page-map .map-popup .leaflet-popup-content {
    color: #34327f;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-map .map-popup .leaflet-popup-content a {
    width: 48px;
    height: 48px;
    background: #EB570E;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#page-map .map-popup .leaflet-popup-content a:hover {
    background: #6e6cac;
}

